<style>
#myCanvas {
  border: 1px solid red;
  background-color:pink;
}
</style>
<script src="../public/scripts/jeu.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/scripts/client.js"></script>

<body onload="init();">
	<p>
<canvas width = 300 height = 300 id="myCanvas"></canvas>
<p>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
	<b>USERS</b>
	<div id="users"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
	<div id="conversation"></div>
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
</div>
</body>