.modal-body .img-responsive{
	padding: 8px 0px;
}

.modal-header, .modal-footer{
	border-width: 0px;
}

.modal-header{
	max-height:0px;
}

.btn{
padding: 8px 16px;
}

.my-body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.my-chat-users {
	float:right;
	border-right:1px solid white;
	max-height:300px;
	padding:10px;
	overflow:scroll-y;
}

.my-chat-content {
	float:left;
	text-align: left;
	height:250px;
	max-height:250px;
	/*overflow:scroll-y;*/
	padding:10px;
	/*overflow: auto;*/
}

#conversation {
	/*height:250px;*/
	max-height:250px;
	overflow-y: auto;
	/*border: 1px solid white;*/
}

.my-chat-content-input {
	color: forestgreen;
}

.my-err-img {
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

.my-sign-up-field {
	padding: 10px;
}

.my-sign-up-panel {
	padding: 30px;
}
.my-sign-up-wrong {
	background-color: #a94442;
	color: white;
}

#myCanvas {
	border: 1px solid red;
	background-color:pink;
}

.map-wrapper {
    /*width: 400px;*/
    height: 520px;
}

.my-team-label {
	font-size:150%;
}

.my-team-radio input[type="radio"] {
	display: none;
}

.my-team-radio input[type="radio"] + label span {
	padding: 8px 16px;
	border: 1px solid #0E6C5A;
	border-radius: 5px;
	box-shadow: -3px 3px 10px -3px black;
	background: #0D6353;
}

.my-team-radio {
	margin-left: -20px;
}

.my-team-radio input[type="radio"]:checked + label span {
	padding: 8px 16px;
	background-color: #2C3E50;
	border: 1px solid #202D3B;
	border-radius: 4px;
	box-shadow: -5px 5px 10px 0px black;
	/*border-color: white;*/
	/*border-radius: 10px;*/
	/*-webkit-box-shadow: -15px 10px 20px 0px rgba(125,125,125,1);*/
	/*-moz-box-shadow: -15px 10px 20px 0px rgba(125,125,125,1);*/
	/*box-shadow: -15px 10px 20px 0px rgba(125,125,125,1);*/
}

.my-team-question {
	padding: 30px;
}

.my-team-submit {
	margin-top: 20px;
}

#map {
	border: 1px solid red;
	height: 500px;
}
