.my-body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.my-chat-users {
	float:right;
	border-right:1px solid white;
	max-height:300px;
	padding:10px;
	overflow:scroll-y;
}

.my-chat-content {
	float:left;
	text-align: left;
	height:250px;
	max-height:250px;
	overflow:scroll-y;
	padding:10px;
}

.my-chat-content-input {
	color: forestgreen;
}

.my-err-img {
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

.my-sign-up-field {
	padding: 10px;
}

.my-sign-up-panel {
	padding: 30px;
}

#myCanvas {
	border: 1px solid red;
	background-color:pink;
}

.map-wrapper {
    width:400px;
    height: 300px;
}

#map {

	border: 1px solid red;
}
